@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Krona+One&family=Staatliches&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  background: #040505;
}
.nav{
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}
.navigation__checkbox {
  display: none;
}
.logo{
  width: 50px;
  height: 50px;
  color: #EDF7F6;
  display: grid;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  margin:0px 25px;
  font-family: "Kanit", serif;
  font-weight: 405;
  font-style: normal;
  font-size: 28px;

}
.navigation__button {
  position: absolute;
  right: 2rem;
  top: 0px;
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: transparent;
  border-radius: 50%;
  z-index: 300;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  width: 0;
  visibility: hidden;
  z-index: 200;
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  list-style: none;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-family:"kanit" ;
  text-transform: uppercase;
  color: #f4f4f4;
  font-size: 2.5rem;
  text-decoration: none;
  transition: all .2s;
}
.navigation__link span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover {
  color: #C1D0D0;
  transform: scale(1.1);
}

.navigation__checkbox:checked~.navigation__background {
  transform: scale(80)
}

.navigation__checkbox:checked~.navigation__nav {
  width: 100%;
  visibility: visible;
  opacity: 1;
  position: fixed;
  background: #000;
}

.navigation__icon {

  position: relative;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  display: grid;
  width: 2.5rem;
  height: 3px;
  background-color: #ffffff;
  border-radius: 15px;
}

@media (min-width: 768px) {
  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
      width: 2.3rem;
  }
}

.navigation__icon::before,
.navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 200ms;
  border-radius: 15px;
}

.navigation__icon::before {
  top: -.5rem;
  left: 06px;
  width: 25px;
}

.navigation__icon::after {
  top: .5rem;
  left: 06px;
  width: 25px;
}

.navigation__button:hover .navigation__icon::before {
  width: 2.3rem;
  left: 0;
}

.navigation__button:hover .navigation__icon::after {
  width: 2.3rem;
  left: 0;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
  background-color: transparent;
  position: fixed;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.banner{
  width: 100%;
  background-image: linear-gradient(rgb(0, 0, 0, 0.8),rgb(0, 0, 0, 0.8)),url('Image/vecteezy_topographic-background-and-texture-abstraction-with-place_16828112.jpg');
  height: 645px;
  display: flex;
  justify-content: center;
}
.banner  .line{
  width: 140px;
  height: 100%;
  background-color: #29524A;
  justify-content: center;
  display: grid;
}
.text{
  width: max-content;
  height: fit-content;
  font-size: 70px;
  top: 125px;
  position: relative;
  color: #E9BCB7;
  font-family: impact;
  line-height: 75px;
  -webkit-font-smooth:anitialized;
}
.hover{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#text-h{
  font-size: 55px;
  color: #ffffff;
  font-family: "Mavitya";  
  width: 100%;
  height: 150px;
}
.text-hover{
  position: absolute;
  width: 0%;
  height: 150px;
  font-size: 55px;
  color: #32E875;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Mavitya";  
}

.h2{
  color: #e9bcb77e;
}
.h3{
  color: #e9bcb736;
}
.wrapper {
  display: flex;
  max-width: 650px;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 85px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.image-container {
  height: 590px;
  max-width: 300px;
  width: 100%;
  overflow: hidden;
}
.image-container .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
}
.carousel img {
  height: 590px;
  width:300px;
  border-radius: 18px;
  object-fit: cover;
}
.info{
  width: 100%;
  height: 100vh;  
  display: flex;
  background-color: #040F16;
  scroll-snap-align: start;
  align-items: center;
  justify-content: center;
}
.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.hover{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame .element {
  position: relative;
  width: 350px;
  height: 337.9px;
  object-fit: cover;
}
.frame .div {
  display: flex;
  width: 683px;
  height: 225px;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.frame .lorem-ipsum-is {
  font-family: 'fago sans';
  font-weight: 200;
  color: #ffffff;
  font-size: 20px;
  line-height: 25px;
  width: 95%;
}
.background{
  width: 1203px;
  height: 338px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 170px;
}
.shit{
  width: 100%;
  height: 500vh;
  position: absolute;
}
.bunng{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E6EFE9;
}
.goal{
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.goal-box{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.box{
  width: 270px;
  height: 350px;
  border-style: solid;
  border-color:  #1B998B;
  display: flex;
  color: black;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transform: all 3s;
}
.box:hover{
  color: white;
  background: #1B998B;
}
.box .h6{
  font-family: "rakiby";
  font-size: 35px;
}
.box .p2{
  font-family: "Cagody";
  font-size: 25px;

}
.bunng #h1{
  font-family: "morva";
  font-size: 65px;
  color: #2D3047;
  background: transparent;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.line
{
  background: transparent;
}
#h1 .char{
  transform: translateY(115px);
  transition: transform 0.15s;
}
.information{
  width: fit-content;
  height: fit-content;
  margin-bottom: 45px;
  text-align: center;
}
.box .b1{
  width: 155px;
  height: 115px;
  background: url("Image/PettingDoodle.svg");
  background-repeat: no-repeat;
}

.box .b2{
  background-repeat: no-repeat;
  background: url("Image/Illustrations_groovy.svg");  
  width: 155px;
  height: 115px;
}

.box .b3{
  background-repeat: no-repeat;
  background: url("Image/Character_reading.svg");  
  width: 155px;
  height: 115px;
}
.g-shit{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E6EFE9;
}
.time{
  width: 92%;
  height: 99%;
  border-radius: 20px;
  background: linear-gradient(#080708b7, #080708b7), url("Image/Blackkjkj.svg");
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}
.time .g{
  font-size: 125px;
  width: 35%;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "rakiby";
}
.time .goal-text{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;  
  font-size: 35px;
  font-family: 'fago sans';
  line-height: 50px;
  text-align: center;
  height: 80%;
}

.event-shits{
  width: 100%;
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.elogo{
  width: 30%;
  border-radius: 25px;
  height: 400px;
  background: url('Images/elogo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.etimer{
  width: 60%;
  height: 400px;
  color: #242F40;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#timer{
  color: #242F40;
  height: 100px;
  font-family: "bagnard";
  width: 100%;
  font-size: 55px;  
  text-align: center;
  margin-top: 35px;
  }

#etext{
  font-size: 25px;
  font-family: "bagnard";
  width: 80%;
  text-align: center;

}
.scroller2 {
  width: 100%;
}

.scroller2__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller2[data-animated="true"] {
  overflow: hidden;
  background-color: #E4DFDA;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 30%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 30%, white 90%, transparent);

}

.scroller2[data-animated="true"] .scroller2__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}


.scroller2[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller2[data-speed="fast"] {
  --_animation-duration: 40s;
}


@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}



.scroll-skill{
  display: grid;
  min-block-size: 20vh;
  place-content: center;
  font-family: system-ui;
  font-size: 1.125rem;
  padding-bottom: 70px;
  background: #f4f4f4;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;

}

.tag-list li {
  padding: 1rem;
  color: black;
  border: 1px solid #03CEA4;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
footer{
  background: #f4f4f4;
  display: flex;
  justify-content: center;
}
.footer{
  width: 99%;
  height: 410px;
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  background: black;
  gap: 20px;
}
.footer h2 {
  width: 20%;
  height: 65px;
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'impact';
}

.footer p{
  color: white;
  text-align: center;
  width: 55%;
  font-family: "bagnard";
  font-size: 22px;
}

.footer .social{
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.footer .social .social-icon{
  font-size: 35px;
  color: white;
}
.footer .social .social-icon:hover{
  color: #00FFE7;
}











/*responsive shits*/
@media (max-width:1225px) {
  .frame{
    gap: 50px;
  }
}

@media (max-width:1065px) {
  .frame{
    flex-direction: column;
    gap: 0px;
  }
  .info{
    height: 120vh;
  }
  .frame .element {
    width: 300px;
    height: 300px;
  }
  .frame .div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .frame .text-h{
    font-size: 40px;
    text-align: center;
  }
  .frame .lorem-ipsum-is{
    font-size: 18px;
    width: 90%;  
    text-align: center;
  }
}

@media (max-width:684px) {
  .frame .lorem-ipsum-is{
    font-size: 17px;
    width: 75%;
  }
  .frame .text-h{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .frame .div{
    gap: 0px;
  }
}
@media (max-width:507px) {
 .frame .text-h{
  font-size: 30px;
 } 
 .frame .lorem-ipsum-is{
  font-size: 14px;
  width: 60%;
 }

}
@media (max-width:850px) {
  .bunng{
    height: 150vh;

  }
  .goal .h1{
    font-size: 55px;
  }
  .goal-box{
    margin-top: 55px;
  }
}
@media (max-width:559px){
  .bunng{
    height: 210vh;
  }
}


@media (max-width: 657px) { 
 .text h1{
  font-size: 60px;
  line-height: 55px;
 }
 .wrapper{
  bottom: 63px;
 }
}
@media (max-width: 500px) { 
  .text h1{
   font-size: 55px;
   line-height: 50px;
  }
  .wrapper{
   bottom: 48px;
  }
 }
 @media (max-width: 435px) { 
  .banner{
    height: 100vh;
  }
  .text h1{
   font-size: 50px;
   line-height: 45px;
  }
  .wrapper{
   bottom: 10px;
  }
  .image-container{
    height: 480px;
  }
  .carousel img {
    height: 480px;
  }
  .line{
    width: 120px;
  }
 }
 @media (max-width: 390px) {
  .image-container{
    width: 225px;
    height: 460px;
  }
  .carousel img{
    width: 225px;
    height: 460px;
  }
  .wrapper{
    bottom: 1px;
  }
 }
 @media(max-width:350px){
  .text h1{
    font-size: 40px;
    line-height: 40px;
  }
  .wrapper{
    height: 492px;
  }
 }
